{% extends "layout.html" %} {% block content %}
<div class="container">
    <form role="form" method='POST' action="{{ url_for('anno') }}">
        <div class="form-group">
            <textarea id="fasta" name="fasta" placeholder="Enter sequences in FASTA format" rows="20" class="form-control"></textarea>
        </div>
        <div class="row">
            <div class="col-xs-6 text-left">
                <input type="button" value="Load FASTA example" onclick="load_examples()" class="btn btn-default btn-block" />
            </div>
            <div class="col-xs-6 text-right">
                <button type="submit" class="btn btn-default btn-block">Predict</button>
            </div>
        </div>
    </form>
    <br>
</div>
<script>
    function load_examples() {
        $("#fasta").load("https://raw.githubusercontent.com/MolGen/ppr-motif/master/datasets/example.fa");
    }
</script> {% endblock %}