{% extends "layout.html" %} {% block content %}
<div class="container" align="center">
    <div class="text-center">
        <h3>P motif
            <img src="{{ url_for('static', filename='Logo/P.png') }}" class="img-fluid" alt="Responsive image">
        </h3>
        <h3>SS motif
            <img src="{{ url_for('static', filename='Logo/SS.png') }}" class="img-fluid" alt="Responsive image">
        </h3>
        <h3>P1 motif
            <img src="{{ url_for('static', filename='Logo/P1.png') }}" class="img-fluid" alt="Responsive image">
        </h3>
        <h3>P2 motif
            <img src="{{ url_for('static', filename='Logo/P2.png') }}" class="img-fluid" alt="Responsive image">
        </h3>
        <h3>L1 motif
            <img src="{{ url_for('static', filename='Logo/L1.png') }}" class="img-fluid" alt="Responsive image">
        </h3>
        <h3>L2 motif
            <img src="{{ url_for('static', filename='Logo/L2.png') }}" class="img-fluid" alt="Responsive image">
        </h3>
        <h3>S1 motif
            <img src="{{ url_for('static', filename='Logo/S1.png') }}" class="img-fluid" alt="Responsive image">
        </h3>
        <h3>S2 motif
            <img src="{{ url_for('static', filename='Logo/S2.png') }}" class="img-fluid" alt="Responsive image">
        </h3>
        <h3>E1 motif
            <img src="{{ url_for('static', filename='Logo/E1.png') }}" class="img-fluid" alt="Responsive image">
        </h3>
        <h3>E2 motif
            <img src="{{ url_for('static', filename='Logo/E2.png') }}" class="img-fluid" alt="Responsive image">
        </h3>
    </div>
</div>
{% endblock %}