{% extends "layout.html" %} {% block content %}
<div class="bg-light">
    <div class="card" align="center">
        <div class="card-header"> P motif </div>
        <img src="{{ url_for('static', filename='Logo/P.png') }}" class="card-img-top" alt="Card image cap">
    </div>

    <div class="card" align="center">
        <div class="card-header"> P1 motif </div>
        <img src="{{ url_for('static', filename='Logo/P1.png') }}" class="card-img-top" alt="Card image cap">
    </div>

    <div class="card" align="center">
        <div class="card-header"> P2 motif </div>
        <img src="{{ url_for('static', filename='Logo/P2.png') }}" class="card-img-top" alt="Card image cap">
    </div>

    <div class="card" align="center">
        <div class="card-header"> L1 motif </div>
        <img src="{{ url_for('static', filename='Logo/L1.png') }}" class="card-img-top" alt="Card image cap">
    </div>

    <div class="card" align="center">
        <div class="card-header"> L2 motif </div>
        <img src="{{ url_for('static', filename='Logo/L2.png') }}" class="card-img-top" alt="Card image cap">
    </div>

    <div class="card" align="center">
        <div class="card-header"> S1 motif </div>
        <img src="{{ url_for('static', filename='Logo/S1.png') }}" class="card-img-top" alt="Card image cap">
    </div>

    <div class="card" align="center">
        <div class="card-header"> S2 motif </div>
        <img src="{{ url_for('static', filename='Logo/S2.png') }}" class="card-img-top" alt="Card image cap">
    </div>

    <div class="card" align="center">
        <div class="card-header"> SS motif </div>
        <img src="{{ url_for('static', filename='Logo/SS.png') }}" class="card-img-top" alt="Card image cap">
    </div>

    <div class="card" align="center">
        <div class="card-header"> E1 motif </div>
        <img src="{{ url_for('static', filename='Logo/E1.png') }}" class="card-img-top" alt="Card image cap">
    </div>

    <div class="card" align="center">
        <div class="card-header"> E2 motif </div>
    </div>
</div>
{% endblock %}